POSTGRES_PASSWORD=replace-with-a-strong-password
STASH_VERSION=replace-with-an-image-tag
STASH_PROXY_NETWORK=replace-with-an-existing-proxy-network
STASH_INSTALL_DIR=replace-with-the-absolute-deploy-directory
