[Unit]
Description=Back up Stash PostgreSQL
Requires=docker.service
After=docker.service
[Service]
Type=oneshot
EnvironmentFile=/etc/stash/stash.env
ExecStart=/bin/sh ${STASH_INSTALL_DIR}/backup.sh
UMask=0077
